# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Astro build
dist/
.cache/

# Vercel
.vercel

# Mac / Linux / Windows basura
.DS_Store
Thumbs.db
